body {
  font-family: sans-serif;
}

/* FCのタイトル。注意書き */
.title {
  border-bottom: 1px solid #abafb0;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  h1 {
    padding-right: 10px;
    margin-bottom: 0;
  }
  p {
    margin: 45px 2px 0px 0px;
    font-size: 12px;
    height: 14px;
  }
}

/* すべてのbuttonの色 */
button {
  height: 30px;
  width: 300px;
  font-size: 10px;
  background-image: linear-gradient(
    90deg,
    #4576c9,
    #58a7d8 43%,
    #61bfdf 74%,
    #88d8ec
  );
  border: none;
  color: white;
  border-radius: 20px;
}

/* 申し込み画面 */
.ticket-form {
  margin: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  border: 1px solid #9dc4d6;
  background-color: #ebf4f7;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;

  select {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #3f4040;
  }
}

/* 申し込み後画面 */
.guidance {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #9dc4d6;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  font-size: 12px;
  z-index: 10;

  .guidance-text {
    text-align: left;
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  /* 抽選結果ご案内中 */
  .red {
    color: red;
  }

  .space {
    padding-top: 20px;
  }

  #confirm-btn {
    margin-top: 20px;
  }
}

/* 当落結果 */
.result-range {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #9dc4d6;
  border-radius: 10px;
  width: 450px;
  margin: 10px auto;
  font-size: 12px;
  z-index: 100;
  /* 整番 */
  .num-message {
    font-size: 15px;
  }

  .result-contents {
    padding: 10px;
    gap: 10px;
    text-align: left;
  }

  /* 抽選結果 */
  .result-title {
    padding: 5px 0;
    margin: 0;
    font-weight: bolder;
  }

  .result {
    display: inline-block;
    border-bottom: 1px solid #b5baba;
    width: 90%;
    padding-bottom: 10px;
  }

  .result-element {
    display: inline-block;
    border-bottom: 1px solid #b5baba;
    width: 90%;
    padding-bottom: 10px;
    margin: 0;
  }

  .result-place {
    padding: 10px 0;
  }
  /*閉じるボタン  */
  .close {
    margin-bottom: 10px;
  }
}

.result-range.hidden {
  display: none;
}

.message.hidden {
  display: none;
}

.winner-message.hidden {
  display: none;
}

.guidance.hidden {
  display: none;
}
